:host .add-model-button {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.vertical-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: stretch;
  height: 100%;
}

.add-model-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.upload-card {
  border: dashed;
  border-color: #DEE2E7;
  height: 100%;

  .card-body {
    min-height: 403px;
    display: flex;
    justify-content: center;

  }
}

sl-card {
  width: 100%;
  margin-bottom: 16px;
}