.scorebox {
  border-radius: 5px;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid var(--sl-color-neutral-200);

  &.closed {
    border: 0;
  }
  p {
    margin: 0;
  }

  &__range {
    padding: 8px;
    margin-top: 0;
    min-width: 5%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
   

    div {
      display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
      width: stretch;
      align-self: center;

      sl-input {
        width: stretch;
      }
    }

    &__numeric {
      display: flex;
      align-items: center;
      gap: var(--sl-spacing-large);
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;

    &__fromto {
      width: stretch;
    }
  }
}
