/**
 * Example Modal Styles
 *
 * Uses modal mixin for standardized modal structure.
 */

@use '../../../styles/mixins/_modal' as modal;

:host {
  @include modal.scx-modal();
}

scx-radio-group {
  margin-bottom: 16px;
}

.scoresDialog {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

scx-score-panel {
  width: calc(50% - 0.5rem);

  .singleScorePanel {
    height: 100%;
  }
}

scx-add-model {
  display: block;
  height: stretch;
}

.modal-wrapper .modal-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-wrapper .modal-head .modal-title {
  display: flex;
  gap: 6px;
}
.modal-wrapper .modal-head .modal-close {
  width: 24px;
  sl-icon {
    color:var(--sl-color-neutral-800);
  }
}
